body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#imageContainer {
    margin: 20px;
}

img {
    width: 300px; /* Ajusta según necesites */
    height: auto;
}
